<% include ./partial/header.ejs %>

<body>
    <h1>Order Confirmation</h1>

    <p>Thank you for your order, <%= order.username %>!</p>
    <p>Your order ID is: <%= order._id %></p>
    <p>Total Amount: ₹<%= order.amount %></p>

    <h2>Shipping Details</h2>
    <p>Email: <%= order.email %></p>
    <p>Contact: <%= order.contact %></p>
    <p>Address: <%= order.address %></p>

    <h2>Products Ordered</h2>
    <ul>
        <% order.products.forEach(product => { %>
            <li>
                <%= product.productName %> - Quantity: <%= product.quantity %>, Price: ₹<%= product.price %>
            </li>
        <% }) %>
    </ul>

    <p>Thank you for shopping with us!</p>
</body>
<% include ./partial/footer.ejs %>