<% include ./partial/header.ejs %>
  <style>

    .main{
      margin-top: 160px;

    }


    .main .card {
      background-color: cadetblue;
      padding: 0px 20px;
      margin: 20px 13%;
      border-radius: 20px;
    }

    .main .orderDetails{
      font-size: 3vh;
      padding-top: 10px;

    }

    .main .card .productList{
      width: 100%;
    }

    .main .card .listItem {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      gap: 10px;
      background-color: ghostwhite;
      margin: 5px 0px;
      border-radius: 10px;
      padding: 15px 0px;

    }


    .main .card .productName {
      font-size: 1vw;
      width: 30%;
      font-weight: 400;
      text-transform: capitalize;
    }

    .paymentCard{
      display: flex; align-items: center;justify-content:space-between; padding-bottom: 10px;

    }


    .orderStatus {
      font-size: 1vw;

    }

    .orderAmout {
      font-size: 1.2vw;
    }



    @media (max-width:600px) {

      .main .card {
      padding: 0px 20px;
      margin: 20px 7%;
      border-radius: 20px;
    }

      .main .card .orderDetails {
        padding-bottom: 20px;
      }

      .main .card .productName {
        font-size: 3vw;
        width: 70%;
      }

      .paymentCard{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        padding-top: 20px;
      }
      .orderStatus {
        font-size: 3vw;

      }

      .orderAmout {
        font-size: 3vw;
      }


    }
  </style>
  <div class="main">
    <% orders.forEach(order=> { %>
      <a style="color: #111; text-decoration: none;" href="/OwnOrder/<%= order._id %>">
        <div class="card">
          <h1 class="orderDetails">Order Details</h1>


          <h3>Products</h3>
          <ul class="productList">
            <% order.products.forEach((product, index)=> { %>
              <% if (product.productName) { %>
                <li class="listItem">

                  <h5 class="productName">
                    <%= product.productName %>
                  </h5>
                  <h5 style="font-weight: 400;"> Price: $<%= product.price %>
                  </h5>
                  <h5 style="font-weight: 400; font-size: 2vh;">Qty: <%= product.quantity %>
                  </h5>

                </li>
                <% } %>
                  <% }); %>
          </ul>

          <div class="paymentCard">
            <p class="orderStatus">Payment Stauts: <%= order.status %>
            </p>
            <p class="orderAmout">Total Invoice <%= order.amount %>.00
            </p>
          </div>
        </div>
      </a>
      <% }); %>
  </div>
  <% include ./partial/footer.ejs %>