<% include ./partial/header.ejs %>
  <link rel="stylesheet" href="/stylesheets/productOrderList.css">


  <!-- page1 customer order list -->
  <div class="main">
    <div class="page1"> </div>

    <!-- fatch oderlist -->
    <% orders.forEach(order=> { %>
      <a style="color: #111; text-decoration: none;" href="/OwnOrder/<%= order._id %>">
        <div class="card">
          <h1 class="orderDetails">Order Details</h1>

          <h3>Products</h3>
          <ul class="productList">
            <% order.products.forEach((product, index)=> { %>
              <% if (product.productName) { %>
                <li class="listItem">
                  <div id="imageAndName">
                    <img src=" <%= product.pImage %>" alt="">
                    <h5 class="productName">
                      <%= product.productName %>
                    </h5>
                  </div>
                  <h5 style="font-weight: 400;"> Price: $<%= product.price %>
                  </h5>
                  <h5 id="qty">Qty: <%= product.quantity %>
                  </h5>

                </li>
                <% } %>
                  <% }); %>
          </ul>

          <div class="paymentCard">
            <p class="orderStatus">Payment Stauts: <%= order.status %>
            </p>
            <p class="orderAmout">Total Invoice <%= order.amount %>.00
            </p>
          </div>
        </div>
      </a>
      <% }); %>
   
  </div>


  <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollToPlugin.min.js"
        integrity="sha512-1PKqXBz2ju2JcAerHKL0ldg0PT/1vr3LghYAtc59+9xy8e19QEtaNUyt1gprouyWnpOPqNJjL4gXMRMEpHYyLQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
        integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


  <script src="/javascripts/productOrderList.js"></script>
  <% include ./partial/footer.ejs %>