<% include ./partial/header.ejs %>
    <style>
        * {
            color: #E6622B;
            padding: 0;
            margin: 0;
        }

        .header-nav .nav-part2 a {
            z-index: 99;
            color: #E6622B;
        }

        .product {
            min-height: 96vh;
            width: 100%;
            display: flex;
            align-items: start;
            justify-content: space-between;
            padding-top: 250px;
            padding-left: 20px;
            padding-right: 20px;
            /* background-color: red; */
        }

        .product .card h1 {
            width: 30vw;
            font-size: 3vw;
            font-weight: 900;
            /* background-color: red; */
            text-transform: capitalize;
        }

        .product .card h5 {
            height: 45px;
            width: 45%;
            border-radius: 30px;
            margin-top: 20px;
            color: aliceblue;
            background-color: #E6622B;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        .product .card .part {
            width: 20vw;
            height: 45px;
            background-color: #E6622B;
            /* background-color: red; */
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border-radius: 30px;
            margin-top: 20px;
            /* background-color: green; */

        }

        .product .card .part a {
            color: #fff;
            text-decoration: none;
            /* background-color: rebeccapurple; */
        }

        .product .card .part span {
            color: #fff;
            text-decoration: none;
            margin: 10px;
        }




        .product img {
            height: 52vh;
            width: 30vw;
            object-fit: cover;
            /* margin-left: -400px; */
            /* background-color: red; */
        }

        .product .card3 {
            height: 100%;
            width: 20%;
            display: flex;
            gap: 50px;
        }

        .product .card3 h5 {
            font-size: 2.6vh;
            text-align: start;
            font-weight: 400;
            color: #E6622B;
        }

        .produc2 {
            display: flex;
            justify-content: space-between;
            padding: 0px 20px;
            border-top: 1px solid #E6622B;
            ;
            margin: 0px 50px;
            padding-top: 15px;
        }
    </style>
    <div class="product">



        <div class="card">
            <h1 name="title">
                <%= getProduct.producttitle %>
            </h1>

            <div class="part">
                <div style="display: flex; align-items: center; justify-content: center; width: 3vw; gap: 10px;">
                    <form action="/update-quantity/<%= getProduct._id %>" method="POST">
                        <input type="hidden" name="action" value="decrease">
                        <button style="border: none;" type="submit"><i style="background-color: #E6622B; color: #fff; border: 1px solid #E6622B;" class="ri-subtract-line"></i></button>
                    </form>
                    <h1 style="color:#fff; font-size: 1vw;">
                        <%= getProduct.quantity %>
                    </h1>
                    <form action="/update-quantity/<%= getProduct._id %>" method="POST">
                        <input type="hidden" name="action" value="increase">
                        <button style="border: none;" type="submit"><i style="background-color: #E6622B; color: #fff; border: 1px solid #E6622B;" class="ri-add-line"></i></button>
                    </form>
                </div>
                <a href="#">$<%= getProduct.pPrice %></a>
                <form action="/add-to-cart/<%= getProduct._id %>" method="POST">
                    <button style="background-color: #E6622B; color: #fff; border: none; font-size: 2vh;" type="submit">Add to Cart</button>
                </form>
            </div>

        </div>
        <div class="card2">
            <img src="<%= getProduct.pImage %>" alt="">

        </div>


        <div class="card3">
            <h6>INFO</h6>
            <h5>At Two Good Co, we believe that food is more than food…we believe that food is a
                universal love
                language, with the power to change the course of someone’s life.
                Our Change The Course Cookbook features shorter recipes, simpler ingredients and
                adaptable techniques,
                designed to help you achieve goodness with less, while our 100% cotton twill apron
                looks good and works
                hard for anyone serving up Good Food and Good Times.</h5>

        </div>
    </div>
    <div class="produc2">
        <h5>$<%= getProduct.pPrice %>
        </h5>
        <h5>50% OF PROFITS REINVESTED INTO THE TWO GOOD FOUNDATIO</h5>
    </div>
    <% include ./partial/footer.ejs %>





        <!-- <% if (getProduct) { %> -->
        <!-- <h2><%= getProduct._id %></h2> -->
        <!-- <% } %> -->