<% include ./partials/header.ejs %>
<!-- profile page set up -->
<div class="profile w-full min-h-screen bg-zinc-800 text-white pt-1">
    <div class="profdets flex flex-col items-center mt-24">
        <!-- set up pensile icome for click pensil icon then open file page -->
        <div id="uploadicon" class="relative">
            <span class="w-10 h-10 absolute bottom-0 right-0 rounded-full flex items-center justify-center bg-red-300">
                <i  class="text-zinc-600 ri-pencil-fill"></i>
            </span>
        <div class="w-32 h-32 bg-red-300 rounded-full">
            <img style="object-fit: cover; height: 100%; width: 100%; border-radius: 50%;overflow: hidden;" src="/images/uploads/<%= user.profileImage%>" alt=""> <!--select profile image chage -->
        </div>
    </div>
    <!-- set username and id showing profile page -->
        <h1 class="text-3xl font-semibold mt-2"><%= user.fullname %></h1>
        <h3 class="text-md">@<%= user.username %></h3>
        <a class="px-6 py-3 bg-zinc-500 rounded-full text-xs font-semibold" href="/edit">Edit</a>
        <a href="/add" class="px-7 py-2 rounded-lg bg-red-900 mt-3">add new post</a>
    </div>
    <!-- this file set up form and it is importance -->
    <form id="uploadform" hidden action="/fileupload" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
    </form>

    <!-- pins page -->
    <div class="cards flex flex-wrap gap-10 pt-10 p-10">
        <div>
        <div class="w-40 h-30 bg-zinc-300 rounded-lg overflow-hidden">
            <img src="/images/uploads/<%= user?.posts[0]?.image %>" alt="">
        </div>
        <a href="/showpost" class="text-xl font-semibold mt-2">All Pins</a>
        <h5 class="text-sm font-medium opacity-70" ><%= user.posts.length %> Pins</h5>
    </div>
    </div>


    
    <script>
    // set up pensile icome for click pensil icon then open file page
      var btn = document.querySelector("#uploadicon i");
      var imageform = document.querySelector("#uploadform input");

      btn.addEventListener("click",function(){
        imageform.click();
      })

      imageform.addEventListener("change",function(){
        document.querySelector("#uploadform").submit();
      })

    </script>

</div>
<% include ./partials/footer.ejs %>